.ui.container
  %h2.ui.center.aligned.medium.icon.header
    %i.circular.orange.comment.icon
    Say Something

  .ui.two.column.grid

    .twelve.wide.column
      .ui.fluid.raised.card.chatbox
        .content{ id: "messages" }
          = turbo_stream_from "messages"

          - if @messages.any?
            .ui.medium.feed
              = turbo_frame_tag "messages" do
                = render @messages

          - else
            = render "empty_state"

        .extra.content
          = render "form", message: Message.new


    .four.wide.column
      .ui.card.raised.chatbox
        .content
          .ui.inverted.vertical.menu
            %a.active.item Friends
            .content{ id: "friends"}
              - @users.each do |user|
                %a.item= user.name