.ui.container

  .ui.placeholder.segment.very.padded

    %h2.ui.header{style: "margin:auto; margin-bottom: 2.5rem;color:#2185D0;"}
      %i.edit.blue.icon
      .content
        = "Edit #{resource_name.to_s.humanize}"


    = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: "ui form", role: "form" }) do |f|
      = render "devise/shared/error_messages", resource: resource

      .field{style: "margin-bottom: 1.5rem;"}
        = f.label :name, "Name"
        .ui.left.icon.input
          = f.text_field :name, placeholder: "Name"
          %i.user.icon

      .field{style: "margin-bottom: 1.5rem;"}
        = f.label :email, "Email"
        .ui.left.icon.input
          = f.email_field :email, placeholder: "Email"
          %i.envelope.icon

      - if devise_mapping.confirmable? && resource.pending_reconfirmation?
        %div Currently waiting confirmation for: #{resource.unconfirmed_email}

      .field{style: "margin-bottom: 1.5rem;"}
        = f.label :password, "Password"
        .ui.left.icon.input
          = f.password_field :password, placeholder: "New Password", autocomplete: "new-password"
          %i.lock.icon

        - if @minimum_password_length
          %br
          %em= "#{@minimum_password_length} characters minimum"


      .field{style: "margin-bottom: 1.5rem;"}
        = f.label :password_confirmation
        .ui.left.icon.input
          = f.password_field :password_confirmation, placeholder: "Confirm Password"
          %i.lock.icon

      .field{style: "margin-bottom: 1.5rem;"}
        = f.label :current_password, "Current Password"
        .ui.left.icon.input
          = f.password_field :current_password, placeholder: "Current Password", autocomplete: "current-password"
          %i.lock.icon

      = f.submit "Update", class: "ui orange submit button top margin segment", style: "margin-top: 1.5rem;"

  .ui.divider

  .ui.placeholder.segment
    %h2.ui.header{style: "color:#DB2828;margin:0 auto;margin-bottom: 2rem;"}
      %i.trash.red.icon
      .content
        Delete Account

    .field
      .ui.buttons
        = button_to "Delete", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "ui red button", style: "margin:0 0.5rem;"
        = link_to "Back", root_path, class: "ui white button", style: "margin:0 0.5rem;"

  .ui.divider
