.ui.large.menu.inverted
  .ui.container
    = link_to "Home", root_path, class:"item #{'active' if current_page?(root_path)}"
    .right.menu
      - if user_signed_in?
        .ui.dropdown.item
          = current_user.name
          %i.dropdown.icon
          .menu
            = link_to "View Profile", user_path(current_user), class:"item"
            = link_to "Edit Profile", edit_user_registration_path , class:"item"
            .divider
            = link_to "Log Out", destroy_user_session_path, method: :delete, class:"item"

      - else
        .item
          = link_to "Log In / Sign Up", new_user_session_path, class:"ui primary button"
